{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>
<body>
    <div class="container-fluid main_section">
        <div class="container  ">
            <div class="row">
                 <form method="POST">{% csrf_token %}
                    {{form}}
                    <button type="submit" class="main_btn">Создать</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>