<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <section class="container-fluid main_section ">
        <div class="container wrapper_table">
            <div class="row">
                <h1 >Список групп</h1>
                <table class="w-100">
                    <tr>
                        <th>Название группы</th>
                        <th>Количество студентов</th>
                        <th>Средний возраст группы</th>
                        <th>Мин возраст</th>
                        <th>Макс возраст</th>
                        <th>Препод</th>
                    </tr>
                     {% for some_info in info_about_group %}
                        <tr>
                             <td>{{some_info.name}}</td>
                            <td>{{ some_info.student_count}}</td>
                            <td>{{ some_info.avg_age|default:"-"}}</td>
                            <td>{{ some_info.min_age|default:"-"}}</td>
                            <td>{{ some_info.max_age|default:"-"}}</td>
                            <td>{{ some_info.teacher }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:create-group' %}" class="main_btn btn">Добавить Группу</a>
                </div>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:create-student' %}" class="main_btn btn">Добавить Студента</a>
                </div>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:create-teacher' %}" class="main_btn btn">Добавить Учителя</a>
                </div>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:students-list'%}" class="main_btn btn">Список студентов</a>
                </div>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:teacher-list'%}" class="main_btn btn">Список переподов</a>
                </div>
            </div>
            </div>

    </section>
</body>
</html>