{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>
<body>
<section class="container-fluid main_section ">
        <div class="container wrapper_table">
            <div class="row">
                <h1>Список студентов</h1>
                <table class="w-100">
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Группа</th>
                        <th>Возраст</th>
                        <th>Телефон</th>
                        <th></th>
                        <th></th>
                    </tr>
                     {% for student in students %}
                        <tr>
                             <td>{{student.name}}</td>
                            <td>{{ student.last_name}}</td>
                            <td>{{ student.group}}</td>
                            <td>{{ student.age}}</td>
                            <td>{{ student.phone|default:'-'}}</td>
                            <td class="wrapper_btn"><a href="{% url 'core:update-student' student.id %}" class="main_btn btn">Изменить</a></td>
                            <td>
                                <form method="POST" action="{% url 'core:delete-student' student.id %}" class="">
                                    {% csrf_token %}<input type="submit" value="Удалить" class="main_btn">
                                 </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            </div>

    </section>
</body>
</html>